/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #161925ff;
    background-alt: #202435FF;
    foreground:     #c5c5c5FF;
    selected:       #ff1593ff;
    active:         #50FA7BFF;
    urgent:         #FF5555FF;
}
